<div class="relative overflow-hidden max-w-full">
  <ul
    class="flex flex-nowrap hint-1
           overflow-x-auto
           whitespace-nowrap
           px-4 py-2
           text-lg md:text-2xl
           scrollbar-hide"
    style="-webkit-overflow-scrolling: touch;"
  >
    <li><a class="block px-3 py-2" href="/">about</a></li>
    <li><a class="block px-3 py-2" href="/projects">projects</a></li>
    <li><a class="block px-3 py-2" href="/contact">contact</a></li>
    <li>
      <a class="block px-3 py-2" href="https://webring.bucketfish.me/" target="_blank" rel="noopener noreferrer">
        bucket webring
      </a>
    </li>
    <li><a class="block px-3 py-2" href="/buttons">buttons</a></li>
  </ul>
</div>